<ion-header>
  <ion-toolbar color="primary">
    
    <!-- Boton para volver para atrás la aplicacion -->
    <ion-buttons slot="start">
      <!-- ======================= BACK BUTTON ============= -->
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
      <!-- ======================= DISMISS BUTTON ============= -->
      <ion-button (click)="dismissModal()" *ngIf="isModal">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <div class="admin">LOBAS APP</div>
      <ion-text style="font-size: 15px;">{{title}}</ion-text> 
      </ion-title>
  </ion-toolbar>
</ion-header>