<app-header [isModal]="true" title="Cargar Set"></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Set número: {{numberSet}}</ion-card-title>
      <ion-card-subtitle>Cantidad de puntos: {{ points }}</ion-card-subtitle>
      <ion-button color="buttonColors" (click)="increment()"><ion-icon name="add"></ion-icon></ion-button>
    </ion-card-header>
    
  

    <form [formGroup]="form" class="ion-padding ion-text-center"  >
      <ion-grid [fixed]="true">
        <ion-row>
            <ion-col *ngFor="let player of players" (click)="selectedPlayer(player)"><ion-chip>{{player.numberPlayer}}</ion-chip></ion-col>
        </ion-row>
      </ion-grid>
      <ion-button class="ion-margin" node="ios" type="submit" [disabled]="form.invalid"> Agregar 
        <ion-icon slot="end" name="happy-outline"></ion-icon>   
      </ion-button>
    </form>
    <ion-button (click)="setFinalSet()" expand="block" fill="clear" shape="round">
      Terminar Set
    </ion-button>
    </ion-card>

</ion-content>
