<app-header backButton="/auth" title="Jugadoras"></app-header>

<ion-content>
    <!-- ============== Crear una jugadora -->
     <!-- Es un pop up en pantalla completa o modal que viene del utils -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="buttonColors" (click)="addUpdatePlayer()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-button (click)="getParametros()" expand="block" fill="clear" shape="round">
        Click me
    </ion-button>

    <ion-button (click)="signOut()" >
        Cerrar sesion
    </ion-button>
</ion-content>