<app-header title="Home"></app-header>

<ion-content>
<div class="acomodarBotones">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="goJugadoras()">
          Jugadoras
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col> 
      <ion-button (click)="goPartidos()">
        Partidos
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="signOut()" >
        Cerrar sesion
      </ion-button>
    </ion-col>
  </ion-row>
</div>
</ion-content>