<app-header backButton="main/players" title="Detalles jugadora"></app-header>
<div *ngIf="isLoading"> Loading...</div>
<ion-content *ngIf="!isLoading && player">

    <ion-card>

      <div *ngIf="player.image" class="img-wrapper">
        <img alt="Alguna imagen" [src]="player.image" />
      </div> 
      <ion-card-header>
        <ion-card-title>Nombre: {{ player.name }},número {{player.numberPlayer}}</ion-card-title>
        <ion-card-subtitle>Posiciones: <p *ngFor="let position of player.positions"> {{ position.name }} &nbsp;</p></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content *ngFor="let statistic of statistics;let i = index">

        <app-graphics [statistics]="statistic"></app-graphics>
        
      </ion-card-content>
    </ion-card>

</ion-content>
